---
---
@import "variables";

// $bg: #ffffff
// $fg: #000000
// $red: #cc241d
// $green: #98971a
// $yellow: #d79921
// $blue: #458588
// $purple: #b16286
// $aqua: #689d6a
// $orange: #d65d0e
// $gray: #aaaaaa
// $cursor: #000000
// $altgray: #333

html {
    font-size: 100%;
}

body {
    background-color: $bg;
    color: $fg;
    font-color: $fg;
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
}

.flex-container {
    flex: 1;
    display: grid;
    height: 97vh;
    width: 55vh;
    justify-content: center;
    align-content: center;
    // border: 1px solid;
}

.header-container {
    display: flex;
    flex: 1;
    font-size: 2vh;
    margin-bottom: -8px;
    justify-content: left;
    align-content: center;

    h1 {

        hr {
            margin-top: 8px;
            margin-bottom: -9px;
            height: 3.2px;
            background-color: $fg;
            width: 54.9vh;
        }

        a {
            text-decoration: none;
            color: $gray;
            transition: color 0.1s ease-in-out;
        }

        a:hover {
            color: $fg;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            font-family: "Source Sans 3", sans-serif;
            font-size: 2vh;
            justify-content: flex-end;

            li {
                color: $gray;
                display: inline-block;
                margin-top: 2px;
                margin-right: 1vh;
                margin-left: 2px;

                a {
                    // text-decoration: underline;
                    text-decoration-color: $gray;
                    transition: color 0.2s ease-in-out;
                }

                a:hover {
                    color: $fg;
                    text-decoration-color: $fg;
                }
            }

            #current {
                // text-decoration: underline;
                color: $fg;
                text-decoration-color: $fg;
            }
        }
    }
}

.index-container {
    display: flex;
    flex: 1;
    font-size: 2.7vh;
    font-family: "Inter", sans-serif;
    justify-content: left;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-family: "Source Sans 3", sans-serif;

        li {
            margin: 0;

            a {
                text-decoration: none;
                color: $gray;
                transition: color 0.2s ease-in-out;
            }

            a:hover {
                color: $fg;
            }
        }
    }

    p {
        font-size: 1.8vh;
        font-weight: 50;
        color: $altgray;
    }
}

.posts-container {
    // border: 1px solid black;
    max-height: 90vh;
    overflow-y: auto;
    margin-bottom: 5vh;

    .posts {
        font-family: "Source Sans 3", sans-serif;
        list-style-type: none;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
        color: $altgray;

        h2 {

            a {
                text-decoration: underline;
                text-decoration-color: $gray;
                color: $fg;
                transition: text-decoration-color 0.2s ease-in-out;
            }

            a:hover {
                text-decoration-color: $fg
            }

            .post-date {
                margin-left: 1vh;
                font-size: 12px;
            }

        }

        hr {
            margin-top: 4vh;
            width: 90%;
        }
    }
}

.blog-main {
    display: flex;
    flex-direction: column;
    margin-top: -12vh;
}

#blog-container {
    flex: 0 0 auto;
}

#blog-header {
    // position: absolute;
    margin-top: 50%;
    // border: 1px solid black;
}

footer {
    position: absolute;
    align-self: flex-end;
    border-top: 10vh;
    font-size: 9px;
    color: $gray;
}

#cursor {
    font-color: $cursor;
    animation: opacity 1.5s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
    opacity: 1;
    }
 
    50% {
    opacity: 0;
    }
    
    100% {
    opacity: 1;
    }
    
}

@media (max-width: 1000px) {

    .header-container h1 hr {
        width: 110%;
        height: 5px;
    }

    .index-container p {
        width: 40vh;
    }

    #blog-container {
        margin-bottom: 0%;
    }

    .posts-container {
        width: 40vh;
    }

    #blog-header {
        border: 1px solid black;
        margin-top: 10%;
    }
}
